:root {
    --dark-color: #2E2F42;
    --text-color: #434455;
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --light-color: #F4F4FD;
    --accent-color: #E7E9FC;
    --white-color: #fff;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: var(--dark-color);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin-top: 0;
    margin-bottom: 0;
} 

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ---------------HEADER---------------- */

.header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 24px 15px;
}

.navigation-container {
    display: flex;
    align-items: center;
}
 
.navigation-list {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}

.logo.link {
    margin-right: 76px;
}

.logo span {
    color: var(--primary-brand-color);
}

.navigation-list-item:not(:last-child) {
    margin-right: 40px;
}

.navigation-item {
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.navigation-item:hover,
.navigation-item:focus,
.navigation-item.current {
    color: var(--primary-brand-color);
}

.navigation-item:active {
    color: var(--pressed-state-color);
}

address {
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
}

.address-list-item:not(:last-child) {
    margin-right: 40px;
}

.address-item {
    font-style: normal;
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.address-item:hover,
.address-item:focus {
    color: var(--primary-brand-color);
}

.address-item:active {
    color: var(--pressed-state-color);
}

/* ---------------HERO---------------- */

.hero {
    text-align: center;
    background-color: var(--dark-color);
}

.hero-container {
    padding: 188px 331px;
}

.hero-title {
    margin-bottom: 48px;

    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-brand-color);
    color: var(--white-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state-color);
}

/* ---------------PREFERENCES---------------- */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.preferences.section {
    padding-bottom: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.prefences-container {
    display: flex;
}

.preferences-list {
    display: flex;
    gap: 24px;
}

.preferences-item {
    flex-basis: calc((100% - 48px) / 3);
}

.preferences-item-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.preferences-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* ---------------WORKS---------------- */

.section-title {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.works-list {
    display: flex;
    gap: 24px;
}

/* ---------------TEAM---------------- */

.team {
    background-color: var(--light-color);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-item-description {
    padding: 32px 16px;
    text-align: center;
}

.team-list-item-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* ---------------FOOTER---------------- */

.footer {
    background-color: var(--dark-color);
}

.footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 879px;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: calc(21 / 18);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
}

.footer-logo span {
    color: var(--primary-brand-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* ---------------PORTFOLIO---------------- */

.portfolio.section {
    padding-top: 96px;
}

.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-btn-item:not(:last-child) {
    margin-right: 24px;
}

.portfolio-btn {
    height: 48px;
    padding: 12px 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--light-color);

    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-color);
    background-color: var(--pressed-state-color);
    border: none;
}

.portfolio-example-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-example {
    flex-basis: calc((100% - 48px) / 3);
}

.example-description {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;

}

.portfolio-example-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.portfolio-example-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}


